* {
	box-sizing:border-box;
	font-family:"Roboto Slab",courier;
}


body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}


/** 
 *	Header menu CSS
 *
 */
#head-wrapper {
	width:100%;
	height:50px;
	background-color:rgba(255,73,72,0.9);
	position:fixed;
	top:0;
	left:0;
	color:white;
	font-size:20px;
	padding-top:8px;
	padding-left:8px;
	padding-right:8px;
	z-index:1000;
}

#head-wrapper a {
	text-decoration:none;
	color:white;
	font-weight:lighter;
}

.head-menu-href {
	margin-left:14px;
	padding:4px;
	text-align: center;
	border-radius:10px;
	transition:background-color 0.5s;
}

.head-menu-href:hover {
	background-color:#57AD78;
}

#head-logo {
	width:170px;
	height:100%;
	cursor:pointer;
}

#head-logo img {
	position:relative;
	width:100%;
	right:10px;
	bottom:8px;
}


.float-left {
	float:left;
}

.float-right {
	float:right;
}

.clear-fix {
	clear:both;
}



#head-user-profile-link a {
	font-weight:normal;
}


.error-404-frame {
	width:100%;
	padding-top:50px;
	color:#444;
	background-color:#ccc;
	position:relative;
	height:100%;
}

.error-404-frame div {
	position:absolute;
	padding-top:15%;
	text-align:center;
	width:70%;
	margin-left:15%;
	font-size:33px;
}

.notif-list {
	position:fixed;
	bottom:0;
	left:0;
	width:480px;
	padding:10px;
}

.notif-list div{
	border-radius:10px;
	font-size:16px;
	padding:10px;
	border:1px solid rgba(0,0,0,0.3);
	background-color:rgba(243,233,233,0.3);
	width:100%;
	box-shadow:0 0 3px;
	color:black;
}

.waiting-box {
	position:fixed;
	z-index:999;
	background-color:rgba(0,0,0,0.3);
	width:100%;
	height:100%;
	left:0;
	top:0;
	display:none;
}

.waiting-box-container {
	position:absolute;
	font-size:24px;
	border-radius:10px;
	background-color:rgba(255,255,255,0.9);
	min-width:230px;
	min-height:230px;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}

#waiting-box-content {
	position:absolute;
	padding:20px;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	text-align: center;
}
