body {
	background-color:rgba(100,200,255,0.1);
}

.main-frame {
	position:relative;
	padding-top:50px;
	width:60%;
    margin-left:20%;
    margin-right:20%;
    padding-left:20px;
    padding-right:20px;
    background-color:white;
}

.caption-title {
	text-align:center;
	font-size:22px;
	padding-top:16px;
	padding-bottom:20px;
}

.caption-project-name {
	text-align:center;
	font-size:30px;
	padding-bottom:20px;
}

.caption-project-name a {
	text-decoration: none;
	color: #1af;
}

.caption-subtitle {
	font-size:18px;
	color:black;
	margin-top:20px;
	padding-bottom:8px;
}


.main-frame-end {
	position:relative;
	margin-top:70px;
	height:1px;
}

.field input {
	font-size:16px;
	padding:4px 8px 4px 8px;
	width:100%;
}

.field textarea {
	font-size:16px;
	padding:8px;
	width:100%;
	height:230px;
}

.field-submit input {
	float:right;
	font-size:20px;
	padding:8px 20px 8px 20px;
	border:1px solid rgba(0,0,0,0.3);
	margin-top:8px;
	background:#1af;
	color: white;
	cursor:pointer;
}

#head-wrapper {
	background-color: #1af;
}