* {
	box-sizing:border-box;
	font-family:"Roboto Slab",courier;
	color:black;
}

body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

#main-wrapper {
	width:100%;
	position:relative;
	top:0;
	min-width:800px;
	min-height:500px;
	font-size:20px;
	padding-top:70px;    
}


.project-profile {
	width:70%;
	position:relative;
	left:15%;
}

#profile-left, #profile-right {
	position:relative;
  
}

#profile-left {
	width:37%;
}

#profile-right {
	width:62%;
    margin-left:1%;
    padding-left:44px;
}

.profile-picture {
	width:100%;
    border:1px solid rgba(0,0,0,0.3);
    padding:6px;
}

.profile-picture img {
	width:100%;
}

.field-caption {
	font-size:16px;
	font-weight:lighter;
}

.large-field, .normal-field {
	margin-bottom:20px;
}

.large-field {
	font-size:23px;
}

.normal-field {
	font-size:20px;
}

.project-statistics {
    width:70%;
    margin-left:15%;
    margin-right:15%;
    padding:10px;
    border:1px solid rgba(0,0,0,0.2);
    border-radius:10px;
}

.stat-title {
    font-size:18px;
    font-style:italic;
}

.stat-field {
	font-size:18px;
	margin-right:20px;
}

.stat-caption {
	font-weight:lighter;
}

#money-bar {
	position:relative;
	width:100%;
	height:33px;
	background-color:rgba(0,0,0,0.3);
	border:1px solid rgba(0,0,0,0.5);
    overflow:hidden;
}

#money-gauge, #money-goal, #money-goal-overlay {
	position:absolute;
	left:0;
	top:0;
	height:100%;
}

#money-gauge {
	width:27%;
	background-color:#1fa;
	z-index:2;
}

#money-goal {
	border-right:1px solid rgba(0,0,0,0.5);
    background-color:white;
	width:70%;
	z-index:1;
}

#money-goal-overlay {
    border-right:1px solid rgba(0,0,0,0.5);
    width:70%;
    z-index:3;
}



/* Project Updates */

.project_updates_title{
    margin-top: 80px;
	position:relative;
    text-align: center;
    
    border: 2px solid darkslategray;
    color: black;
    padding: 20px;
    font-size: 20px;
    
}

.project_update{
    padding-top: 20px;
	position:relative;
    margin-bottom:60px;
}

.post{
    margin-bottom:20px;  
    border:1px solid rgba(0,0,0,0.3);
}


.post_title{
    color: antiquewhite;
    text-align: center;
    padding:8px 20px 8px 20px;
    background: #f43;
}


.post_post{
    border: 2px solid white;
    color: black;
    text-align: justify;
    background: white;
    padding: 10px;
}

.post_date{
    font-style: italic;
    font-size: 15px;
    padding: 10px;
}



/* Comments */


.comment_section{

    margin-top: 100px;
	position:relative;
    
}

.comment_section_title{
    text-align: center;
    border: 2px solid midnightblue;
    padding: 20px;
    margin-bottom: 20px;
    background-color: midnightblue;
    color: white;
}


.comment{
    margin-top: 20px;
    background-color: dodgerblue;
    padding: 20px;
    
}
.comment_user{
    
    font-weight: bold;
    color: white;
}

.comment_text{
    text-align: justify;
    padding-top: 10px;
}

.comment_date{
    
    
    font-style: italic;
    font-size: 15px;
    padding-top: 10px;
    
}


/* Posting Comments */

.post_comment{
    margin-top: 50px;
}

.post_comment_title{
    
    font-style: italic;
    
}

.new_comment_data{
    margin-top: 25px;
    margin-bottom: 10px;
    width: 100%;
    height: 100px;
    overflow-y: scroll;
}

.user_prompt{
    font-size: 15px;
    display: inline-block;
    margin-right: 10px;
}


.submit_comment_button{
    margin-top: 15px;
    background: green;
    color: white;
    font-family:"Roboto Slab",courier;
	font-size: 15px;
    padding: 10px;
    border: 2px solid white;
    width: 200px;
}

/**
 * header styling
 */
#head-wrapper {
	background-color:#FF4620;
}

.head-menu-href:hover {
	background-color:#97AD78;
}

.campaign {
    padding:8px;
}

.project-information {
    width:60%;
    margin-left:20%;
    margin-right:20%;
}

.project-interaction {
    margin-top:20px;
    width:70%;
    margin-left:15%;
    margin-right:15%;
}

.project-button {
    padding:8px 20px 8px 20px;
    border-radius:10px;
    color:white;
    background-color:#f72;
    margin-left:20px;
    cursor:pointer;
    border:1px solid rgba(0,0,0,0.3);
}

.project-button:hover {
    background-color:#fb6;
}

.user-link {
    text-decoration:none;
    color:#17f;
}

#unfollow-button {
    display:none;
}

.no-result {
    padding:10px;
}

.post_button {
    font-size:16px;
    margin-left:12px;
    padding:10px;
    cursor:pointer;
    color:#1af;
}

.reply-box {
    padding:4px 20px 8px 20px;
}

.reply-box textarea {
    width:100%;
    padding:8px;
    font-size:15px;
    height:44px;
    margin-bottom:8px;
    border:1px solid rgba(0,0,0,0.3);
}

.replies {
    padding:8px 20px 8px 20px;
    font-size:18px;
}

.reply-item {
    padding:8px;
    border:1px solid rgba(0,0,0,0.2);
    background-color:#ffffcf;
}


.reply-item a{
    color:#1af;
    text-decoration: none;
    padding-right:8px;
}

.date-time {
    font-size:14px;
    font-weight:lighter;
}

.no-reply {
    font-size:16px;
    padding:8px 20px 8px 20px;
    border:1px solid rgba(0,0,0,0.2);
}

.post_likes {
    color:green;
    font-style:normal;
}


.shortcut-menu {
    width:70%;
    margin-left:15%;
    font-size:18px;
    border-bottom:1px solid rgba(0,0,0,0.2);
    margin-bottom:10px;
}

.shortcut-menu-item {
    border-left:1px solid rgba(0,0,0,0.2);
    padding:8px 20px 8px 20px;
}

.shortcut-menu-item:hover {
    background-color:#fe8;
}

.shortcut-menu-item a {
    color:#f83;
    cursor:pointer;
    text-decoration: none;
}