* {
	box-sizing:border-box;
	font-family:"Roboto Slab",courier;
	color:black;
}

body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

#main-wrapper {
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	min-width:800px;
	min-height:500px;
	font-size:20px;
	padding-top:90px;
}


.project-profile {
	width:70%;
	position:relative;
	left:15%;
}

#profile-left, #profile-right {
	position:relative;
}

#profile-left {
	width:37%;
}

#profile-right {
	width:63%;
	padding-top:20px;
	padding-left:20px;
}

.profile-picture {
	width:100%;
}

.profile-picture img {
	width:100%;
}

.field-caption {
	font-size:16px;
	font-weight:lighter;
}

.large-field, .normal-field {
	margin-bottom:20px;
}

.large-field {
	font-size:23px;
}

.normal-field {
	font-size:20px;
}

.stat-field {
	font-size:18px;
	margin-right:20px;
}

.stat-caption {
	font-weight:lighter;
}

#money-bar {
	position:relative;
	width:100%;
	height:8px;
	background-color:white;
	border:1px solid black;
}

#money-gauge, #money-goal {
	position:absolute;
	left:0;
	top:0;
	height:100%;
}

#money-gauge {
	width:27%;
	background-color:green;
	z-index:1;
}

#money-goal {
	border-right:8px solid rgb(255,100,50);
	width:70%;
	z-index:2;
}



/* Project Updates */

.project_updates_title{
    margin-top: 90px;
    width:70%;
	position:relative;
    left: 15%;
    text-align: center;
    
    border: 2px solid darkslategray;
    color: black;
    padding: 20px;
    font-size: 20px;
    
}

.project_update{
    padding-top: 20px;
    width:70%;
	position:relative;
	left:15%;
}

.post{
    
    padding-top: 60px;
    
}


.post_title{
    
    color: antiquewhite;
    border: 2px solid white;
    text-align: center;
    padding: 20px;
    background: #FF4620;
    
    
}


.post_post{
    
    border: 2px solid white;
    color: black;
    text-align: justify;
    background: white;
    padding-top: 10px;
    
}

.post_date{
    
    font-style: italic;
    font-size: 15px;
    padding-top: 10px;
}



/* Comments */


.comment_section{

    margin-top: 100px;
    width:70%;
	position:relative;
	left:15%;
    
}

.comment_section_title{
    text-align: center;
    border: 2px solid midnightblue;
    padding: 20px;
    margin-bottom: 20px;
    background-color: midnightblue;
    color: white;
}


.comment{
    margin-top: 20px;
    background-color: dodgerblue;
    padding: 20px;
    
}
.comment_user{
    
    font-weight: bold;
    color: white;
}

.comment_text{
    text-align: justify;
    padding-top: 10px;
}

.comment_date{
    
    
    font-style: italic;
    font-size: 15px;
    padding-top: 10px;
    
}


/* Posting Comments */

.post_comment{
    margin-top: 50px;
}

.post_comment_title{
    
    font-style: italic;
    
}

.new_comment_data{
    margin-top: 25px;
    margin-bottom: 10px;
    width: 100%;
    height: 100px;
    overflow-y: scroll;
}

.user_prompt{
    font-size: 15px;
    display: inline-block;
    margin-right: 10px;
}


.submit_comment_button{
    margin-top: 15px;
    background: green;
    color: white;
    font-family:"Roboto Slab",courier;
	font-size: 15px;
    padding: 10px;
    border: 2px solid white;
    width: 200px;
}

/**
 * header styling
 */
#head-wrapper {
	background-color:#FF4620;
}

.head-menu-href:hover {
	background-color:#97AD78;
}

