<html>
<head>
	<script src="{{ url_for('static', filename='js/jquery-1.11.3.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.cloudinary.js') }}" type='text/javascript'></script>
	<script src="{{ url_for('static', filename='js/jquery.ui.widget.js')}}" type='text/javascript'></script>
	<script src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }}" type='text/javascript'></script>
	<script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}" type='text/javascript'></script>
	<link href="{{ url_for('static', filename='css/base.css') }}" rel='stylesheet' type='text/css'>
	<script src="{{ url_for('static', filename='js/base.js') }}"></script>
	{% block statics %}{% endblock %}

	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100' rel='stylesheet' type='text/css'>
</head>
<body>
	{% block main_body %}

	<div class="footer">
		<div>Cherrytea, 2016. Imperial College London</div>
		<div><span>Prajogo Tio</span><span> . </span><span>Nigel Kong</span><span> . </span><span>Chen Chin Jieh</span><span> . </span><span>Sumer Sinha</span></div>
	</div>
	{% endblock %}

	<!-- This is the header-menu part of the landing page -->
	<div id="head-wrapper" class="no-select">
		<div id="head-logo" class="float-left">
			<img src="{{ url_for('static', filename='img/logo-white.png') }}" onclick="window.location.href='/'">
		</div>

		{% if not session.logged_in %}
		<!-- case 1: user is not logged in -->
		<div id="head-login-link" class="float-right head-menu-href">
			<a href="/login">Login</a>
		</div>
		<div id="head-signup-link" class="float-right head-menu-href">
			<a href="/register">Register</a>
		</div>
		{% else %}
		<!-- case 2: logged in -->
		<div id="head-menu-icon" class="float-right head-menu-href">
			<a>Menu</a>
		</div>

		<div id="head-user-profile-link" class="float-right head-menu-href">
			<a href="/user/{{ session.user_id }}">{{ session.username }}</a>
		</div>
		<div id="news" class="float-right head-menu-href">
			<a>News</a>
		</div>
		<div class="float-right head-menu-href">
			<a href="/">Home</a>
		</div>
		{% endif %}
		<div class="clear-fix"></div>
	</div>
	
	<div id="notif-list" class="notif-list no-select">
	</div>

	<div id="waiting-box" class="waiting-box no-select">
		<div class="waiting-box-container">
			<div id="waiting-box-content">
				Waiting...
			</div>
		</div>
	</div>
	<div id="menu-options-layer">
		<div id="menu-options">
			<div class="menu-item"><a href="/create/project">Create Project</a></div>
			<div class="menu-item"><a href="/dashboard">Manage Projects</a></div>
			<div class="menu-item"><a href="/user/{{ session.user_id }}">Profile</a></div>
			<div class="menu-item"><a href="/logout">Log out</a></div>
		</div>
	</div>
	<div id="news-layer">
		<div id="news-tray">
			<div class="news-item">
				<div style="color:#777">End of list</div>
			</div>
		</div>
	</div>

	
</body>
</html>