{% extends "base.html" %}
{% block statics %}
	<script src="{{ url_for('static', filename='js/cherrytea.js')}}"></script>
	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block main_body %}
	<!-- case 1: not logged in -->
	<!-- Show landing page -->
	{% if not session.logged_in %}
	<div id="landing-page" class="main-frame">
		<div id="landing-page-background" class="main-frame-bg">
			<video id="landing-page-bg-vid" autoplay muted loop onloadstart="this.playbackRate = 0.88">
				<source src="{{ url_for('static', filename='media/landing-page.mp4') }}" type="video/mp4">
			</video>
		</div>

		<div id="landing-caption">
			<div id="landing-caption-main">Linking charities worldwide</div>
			<div id="landing-caption-sub">let's share sweetness together</div>
		</div>

		<div id="landing-search-wrapper">
			<input type='text' id="landing-search-input" class="float-left" value="search for charity here">
			<input type='submit' id="landing-search-submit" class="float-left" value="search">
			<div class="clear-fix"></div>
		</div>

		<div id="landing-to-nextpage">
			<div><span style="color:red;font-weight:normal;">F</span><span style="color:green;font-weight:normal;">r</span>esh <span style="color:red;font-weight:normal;">C</span><span style="color:green;font-weight:normal;">h</span>erries</div>
			<img src="{{ url_for('static', filename='img/arrow-down.png') }}">
		</div>
	</div>
	{% else %}
	<!-- case 2: logged in, show home page -->

	<div id="home-page" class="main-frame">
		<div class="header-section">
			<div class="search-bar">
				<input class="search-bar-text float-left" type="text"><input class="search-bar-submit float-left" value="search" type="submit">
				<div class="clear-fix"></div>
				<div class="advanced-search-option">
					<a>advanced search</a>
				</div>
			</div>
		</div>
		<div class="main-body-section">
			<div class="title-caption">
				Fresh Projects
			</div>
			<div id="recent-list" class="project-list">
			<!--
				<div class="project-item">
					<div class="project-photo">
						<img src="{{ url_for('static', filename='img/t01.jpg') }}">
					</div>
					<div class="project-item-info">
						<div class="project-title">
							Save CHANGHONG
						</div>
						<div class="project-backing">
							591 <span class="project-backing-caption">donators</span>
						</div>
						<div class="project-type">
							Charity
						</div>
					</div>
				</div>
			-->

				<div class="show-more-option clear-fix"><a>more fresh projects...</a></div>
			</div>

			<div class="title-caption">
				Popular Projects
			</div>
			<div id="popular-list" class="project-list">
				<div class="show-more-option clear-fix"><a>more popular projects...</a></div>
			</div>

			<div class="title-caption">
				Recommended Projects
			</div>
			<div id="recommendation-list" class="project-list">
				

				<div class="show-more-option clear-fix"><a>more recommendation...</a></div>
			</div>
		</div>
	</div>
	{% endif %}

{% endblock %}
