{% extends "base.html" %}
{% block statics %}
	<script src="{{ url_for('static', filename='js/login.js') }}"></script>
	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/login.css') }}"> 
{% endblock %}
{% block main_body %}
	<!-- Login panel -->
	<div id="main-wrapper">
		<div id="login-panel">
			<div id="login-panel-logo">
				<img src="{{ url_for('static', filename='img/logo-white.png') }}">
			</div>
			<div id="login-panel-header">
				Welcome back!
			</div>
			<div id="login-panel-username">
				<div class="float-left login-label">username:</div><input id="login-panel-username-input" type="text" class="float-left login-input">
				<div class="clear-fix"></div>
			</div>
			<div id="login-panel-password">
				<div class="float-left login-label">password:</div><input id="login-panel-password-input" type="password" class="float-left login-input">
				<div class="clear-fix"></div>
			</div>
			<div id="login-panel-submit">
				<input id="login-panel-submit-button" type="submit" value="login" class="login-submit">
			</div>
			<div id="login-panel-notification">
				
			</div>
		</div>
	</div>
{% endblock %}
