{% extends "base.html" %}
{% block statics %}
	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/payment.css') }}">
{% endblock %}
{% block main_body %}
    <!-- Payment page -->
    <div id="payment-body" class="main-frame">
		<div class="payment-item-header">
			<div id="payment-title" class="payment-item">Contribute</div>
			<div class="payment-item-text">Every small bit helps. Thank you for giving.</div>
		</div>
		<div class="payment-item">
			<input id="payment-back" type="submit" class="payment-button-back" value="<< Back to Project Details"/>
		</div>

		<!--Project details-->
		<div id="project-details">
			<div class="payment-item-caption payment-item">Project Details</div>
			<!-- Control project details text via js and retrieve from database -->
			<div id="project-details-box" class="box-filled">
					<div class="project-details-caption">Project ID</div>
					<div id="project-id" class="project-details-text">9999</div>

					<div class="project-details-caption">Title</div>
					<div id="project-title" class="project-details-text">Water for Africa</div>

					<div class="project-details-caption">Summary</div>
					<div id="project-summary" class="project-details-text">Distributing water to people in Africa. Water is a scarce resource, and not everyone has access to it. Your contribution will help bring
					life to all of Africa.</div>
			</div>
		</div>

		<div id="payment-contribute" class="payment-item">
			<div class="payment-item-caption">How much would you contribute?</div>
			<!-- Have validator for number range -->
			<div class="payment-item-text">
				USD $
				<input id="payment-amount" type="number" value="0" min="0"/>
			</div>

			<!-- Progress bar -->
			<div id="payment-meter" class="payment-item-text">
				<!-- Control amounts in css: width %-->
				<span id="payment-meter-previous"></span>
				<span id="payment-meter-after"></span>
			</div>
		</div>

		<div id="payment-form" class="payment-item">
			<div class="payment-item-caption">How will you contribute?</div>
			<select class="payment-item-text">
				<option selected="selected">Select payment method</option>
				<option>Paypal</option>
			</select>
		</div>

	</div>

{% endblock %}