{% extends "base.html" %}
{% block statics %}
	<script src="{{ url_for('static', filename='js/project_profile.js') }}"></script>
	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/project_profile.css') }}"> 
{% endblock %}
{% block main_body %}
	<input type="hidden" value="{{proj_id}}">


	<div id="main-wrapper">
		<div class="project-profile">
			<div id="profile-left" class="float-left">
				<div class="profile-picture">
					<img src="{{ url_for('static', filename='img/reindeer_print.jpg') }}">
				</div>
			</div>
			<div id="profile-right" class="float-right">
				<div class="large-field">
					<div class="field-caption">
						Project Name
					</div>
					<div id="project-title">
						Help children of Africa!
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Description
					</div>
					<div id="project-description">
						This project is seriously awesome
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Location
					</div>
					<div id="project-location">
						South Africa
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Advocating
					</div>
					<div id="project-category">
						#Africa
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Managed by
					</div>
					<div id="project-owner">
						Prajogo Tio
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Organisation
					</div>
					<div id="project-charity-org">
						Reddish Cross
					</div>
				</div>

				<div class="project-statistics">
					<div id="money-bar">
						<div id="money-goal"></div>
						<div id="money-gauge"></div>
					</div>
					<div class="stat-field float-left">
						<div id="donation-goal">$152,233</div>
						<div class="stat-caption">Donation Goal</div>
					</div>
					<div class="stat-field float-left">
						<div id="donation-collected">140,000</div>
						<div class="stat-caption">Collected</div>
					</div>
					<div class="stat-field float-left">
						<div id="number-of-donor">215</div>
						<div class="stat-caption">Donors</div>
					</div>
					<div class="clear-fix"></div>
				</div>
			</div>
			<div class="clear-fix"></div>
		</div>
		<div class="project-information">
            
            <div class="project_updates_title">Project Updates </div>
            <!-- Updates --> 
            
                <div class="project_update">
                <div class="post">
                    <div class="post_title">Update #3: Bringing Water Containers to America</div>
                    <div class="post_post">This is an example post. blah blah blah. This will take some text. this will be longer for longers sake so as to test the max length of this shit. his is an example post. blah blah blah. This will take some text. this will be longer for longers sake so as to test the max length of this shit. his is an example post. blah blah blah. This will take some text. this will be longer for longers sake so as to test the max length of this shit.
                    <br>
                    <br>
                        This is an example post. blah blah blah. This will take some text. this will be longer for longers sake so as to test the max length of this shit. his is an example post. blah blah blah. This will take some text. this will be longer for longers sake so as to test the max length of this shit. his is an example post. blah blah blah. This will take some text. this will be longer for longers sake so as to test the max length of this shit.
                    </div>
                    <div class="post_date">Posted on 2/1/2016. </div>
                </div>
                
              </div>       
            </div>
                
            <!-- Comments --> 
            
        <div class="comment_section">  
            
                <div class="comment_section_title">Comments</div>
              
                
                
               <div class="comments"> 
                <div class="comment">
                    <div class="comment_user">Commmmenter123</div>
                    <div class="comment_text">I am commenting on a comment in a comment box. Typing to see how long before I exceed the limit of this nugget.</div>
                    <div class="comment_date">Commented on 2/1/2016</div> 
                </div>
            </div>
                
                
                
     
                
                
                <!-- Posting Comments --> 
                
                <div class="post_comment">
                    <div class="post_comment_title">Post a Comment!</div>
                    <textarea class="new_comment_data" placeholder="Enter your comment here!"></textarea>
                    <div class="user_prompt">Posting as: </div>
                    <input class="user_comment">
                    <br>
                    <button class="submit_comment_button" type="submit" onclick="postComment()">Submit</button>
                    
                    
                </div>
                
                
                
                
            </div>
                
               
	</div>
{% endblock %}
