{% extends "base.html" %}
{% block statics %}
	<script src="{{ url_for('static', filename='js/project_profile.js') }}"></script>
	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/project_profile.css') }}"> 
{% endblock %}
{% block main_body %}
	<input type="hidden" name="proj_id" value="{{ info.proj_id }}">
	<input type="hidden" name="goal" value="{{ info.donation_goal }}">
	<input type="hidden" name="donated" value="{{ info.donation_total }}">
	<input type="hidden" name="followed" value="{{ 'true' if info.followed else 'false' }}">
	<input type="hidden" id="session_user" value="{{ session.username }}">


	<div id="main-wrapper">
		<div class="project-profile">
			<div id="profile-left" class="float-left">
				<div class="profile-picture">
					{% if info.proj_pic_url %}
					<img src="{{ info.proj_pic_url }}">
					{% else %}
					<img src="{{ url_for('static', filename='img/no_poster.jpg') }}">
					{% endif %}
				</div>
			</div>
			<div id="profile-right" class="float-right">
				<div class="large-field">
					<div class="field-caption">
						Project Name
					</div>
					<div id="project-title">
						{{ info.proj_name }}
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Description
					</div>
					<div id="project-description">
						{{ info.proj_desc }}
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Location
					</div>
					<div id="project-location">
						{{ info.location }}
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Category
					</div>
					<div id="project-location">
						{{ info.category }}
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Date created
					</div>
					<div id="project-category">
						{{ info.date_created }}
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Managed by
					</div>
					<div id="project-owner">
						<a class='user-link' href='/user/{{ info.owner_id }}'>{{ info.owner_username }}</a>
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Organisation
					</div>
					<div id="project-charity-org">
						{{ info.charity_org }}
					</div>
				</div>
			</div>
			<div class="clear-fix"></div>
		</div>

		<div class="project-statistics">
			<div class="stat-title">
				Project statistics
			</div>
			<div id="money-bar">
				<div id="money-goal"></div>
				<div id="money-gauge"></div>
				<div id="money-goal-overlay"></div>
			</div>
			<div class="stat-field float-left">
				<div id="donation-goal">${{ info.donation_goal }}</div>
				<div class="stat-caption">Donation Goal</div>
			</div>
			<div class="stat-field float-left">
				<div id="donation-collected">${{ info.donation_total }}</div>
				<div class="stat-caption">Collected</div>
			</div>
			<div class="stat-field float-left">
				<div id="number-of-donor">{{ info.num_of_backers }}</div>
				<div class="stat-caption">Donors</div>
			</div>
			<div class="clear-fix"></div>
		</div>

		<div class="project-interaction">
			<div class="float-right project-button" onclick="window.location.href='/project/{{ info.proj_id }}/payment'">
				Donate
			</div>
			<div id="follow-button" class="float-right project-button">
				Follow
			</div>
			<div id="unfollow-button" class="float-right project-button">
				Unfollow
			</div>
			<div class="clear-fix"></div>
		</div>

		<div class="project-information">
            <div class="project_updates_title">Campaign</div>
            <div class="campaign">
            {% if info.other_info %}
            	<div>{{ info.other_info }}</div>
            {% else %}
            	<div class="no-result">No campaign yet</div>
            {% endif %}
            </div>
            <div class="project_updates_title">Project Updates </div>
            <!-- Updates --> 
            
            <div class="project_update">
            	{% if info.broadcasts %}
            		{% for b in info.broadcasts %}
		                <div class="post">
		                    <div class="post_title">
		                    	{{ b.title }}
		                    </div>
		                    <div class="post_post">
		                    	{{ b.content }}
		                    </div>
		                    <div class="post-metadata">
		                    	<input type="hidden" name="broadcast_id" value="{{ b.broadcast_id }}">
		                    	<input type="hidden" name="like" value="{{ 'true' if b.like else 'false' }}">

			                    <div class="post_date float-left">
			                    	Posted on {{ b.date_broadcasted }}
			                    </div>
			                    <div class="post_date float-left">
			                    	<span class="post_likes">{{ b.num_likes }}</span> likes
			                    </div>
			                    <div class="post_like post_button float-right">
			                    	Like
			                    </div>
			                    <div class="post_unlike post_button float-right">
			                    	Unlike
			                    </div>
			                    <div class="post_reply post_button float-right">
			                    	Reply
			                    </div>
			                    <div class="clear-fix"></div>
			                </div>
			                <div class="replies">
			                	<input type="hidden" name="reply_size" value="{{b.replies.size}}">
			                	<input type="hidden" name="reply_offset" value="{{b.replies.offset}}">
			                	
			                	{% if b.replies.replies %}
			                		{% for r in b.replies.replies %}
			                			<div class="reply-item"><span><a href="/user/{{ r.user_id }}">{{ r.username }}</a><span> {{ r.content }} <br><span class="date-time">replied on {{ r.date_replied }}</span></div>
			                		{% endfor %}
			                	{% else %}
			                	<div class="no-reply">No replies yet</div>
			                	{% endif %}
			                </div>
			                <div class="reply-box">
			                	<div><textarea placeholder="Write comment here..."></textarea></div>
			                </div>
		              	</div>
		            {% endfor %}
                {% else %}
                	<div class="no-result">No broadcasts yet</div>
                {% endif %}
            </div>       
                
		</div>
	</div>
	{{ super () }}
{% endblock %}
