{% extends "base.html" %}
{% block statics %}
	<link href="{{ url_for('static', filename='css/update_profile.css') }}" rel="stylesheet" type="text/css">
	<script src="{{ url_for('static', filename='js/update_profile.js') }}"></script>
{% endblock %}

{% block main_body %}
	<div class="main-frame">
		<div class="title-caption">
			Profile Update
		</div>
		<div class="field">
			<div class="field-caption">First name</div>
			<input id="first_name" type="text" value="{{ info.profile.first_name }}">
		</div>
		<div class="field">
			<div class="field-caption">Last name</div>
			<input id="last_name" type="text" value="{{ info.profile.last_name }}">
		</div class="field">
		<div class="field">
			<div class="field-caption">Profile picture</div>
			<div class="field-subcaption">Choose a picture to display as your profile picture.</div>
			<input id="prof_pic" type="file">
			<div id="prof_pic_info"></div>
		</div>
		<div class="field">
			<div class="field-caption">Address</div>
			<div class="field-subcaption">We'd love to know where you come from!</div>
			<input id="address" type="text" value="{{ info.profile.address }}">
		</div>
		<div class="field">
			<div class="field-caption">Date of birth</div>
			<div class="field-subcaption">Share your birthday if you don't mind!</div>
			<input id="date_of_birth" type="date" value="{{ info.profile.date_of_birth_us }}">
		</div>
		<div class="field">
			<div class="field-caption">Advocacy</div>
			<div class="field-subcaption">List down your advocacies! e.g. empowering the disabled, organ donor, overseas community services, etc</div>
			<input id="advocate" type="text" value="{{ info.profile.advocate }}">
		</div>
		<div class="field">
			<div class="field-caption">Biography</div>
			<div class="field-subcaption">Share with the rest of Cherryters your beliefs, thoughts, and hopes!</div>
			<textarea id="bio">{{ info.profile.bio }}</textarea>
		</div>
		<div class="field">
			<input id="submit" type='submit' value='update'>
		</div>
	</div>
{% endblock %}