{% extends "base.html" %}
{% block statics %}
	<script src="{{ url_for('static', filename='js/user_profile.js') }}"></script>
	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/user_profile.css') }}"> 
{% endblock %}
{% block main_body %}
	<div id="main-wrapper">
		<div class="shortcut-menu">
			<div class="shortcut-menu-item float-left"><a href="/update/user_profile">Update</a></div>
			<div class="clear-fix"></div>
		</div>
		
{% if info.profile_owner and not info.profile.found %}
		<div class="user-notice">
			You have not updated your profile yet. Click <a href='/update/user_profile'>here</a> to update!
		</div>
{% endif %}

		<div class="user-profile">
			<div id="profile-left" class="float-left">
				<div class="profile-picture">
				{% if info.profile.profile_pic_url %}
					<img src="{{ info.profile.profile_pic_url }}">
				{% else %}
					<img src="{{ url_for('static', filename='img/no_prof_pic.jpg') }}">
				{% endif %}
				</div>
			</div>
			<div id="profile-right" class="float-right">
				<div class="normal-field">
					<div class="field-caption">
						Username
					</div>
					<div id="username">
						{{ info.username if info.username != None else 'Invalid User Profile'}}
					</div>
				</div>
				<div class="large-field">
					<div class="field-caption">
						Name
					</div>
					<div id="username">
						{{ info.profile.full_name }}
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Join Date:
					</div>
					<div id="user-join-date">
						{{ info.join_date if info.join_date != None else '-' }}
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Date of birth:
					</div>
					<div id="user-join-date">
						{{ info.profile.date_of_birth if info.profile.date_of_birth != None else '-' }}
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Location
					</div>
					<div id="user-location">
						{{ info.profile.address if info.profile.address != None else '-' }}
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Advocating
					</div>
					<div id="user-advocate">
						{{ info.profile.advocate if info.profile.advocate != None else '-' }}
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Membership Type
					</div>
					<div id="user-type">
						{{ info.membership }}
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Number of Projects Backed:
					</div>
					<div id="user-projects-backed">
						{{ info.num_of_backed_projects }}
					</div>
				</div>

				
			</div>
			<div class="clear-fix"></div>
		</div>

		<div class="user-information">
            <div class="user_biography">
                <div class="user_biography_title">Biography</div>
                <div class="user_biography_text">
                {{ info.profile.bio }}
                </div>
            </div>
            <div class="recently-backed">
                <div class="recently_backed_title">Recently Backed Projects</div>
                <div id='recently_backed_project' class="recently_backed_project">
                <!-- Show only 3 Recently Backed Projects  -->
                	
				</div>
            </div>
        </div>   
	</div>

	<input type="hidden" name="recent_backed_list" value="{{ info.recently_backed_projects }}">
	<input type="hidden" name="full_name" value="{{ info.profile.full_name }}">
	<input type="hidden" name="username" value="{{ info.username }}">
	{{ super() }}
{% endblock %}