<html>
<head>
	<script src="{{ url_for('static', filename='js/jquery-1.11.3.js') }}"></script>
	<script src="{{ url_for('static', filename='js/user_profile.js') }}"></script>
	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/user_profile.css') }}"> 
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100' rel='stylesheet' type='text/css'>
</head>
<body>
	<input type="hidden" value="{{proj_id}}">


	<div id="main-wrapper">
		<div class="user-profile">
			<div id="profile-left" class="float-left">
				<div class="profile-picture">
					
				</div>
			</div>
			<div id="profile-right" class="float-right">
				<div class="large-field">
					<div class="field-caption">
						Username
					</div>
					<div id="username">
						Rich_Santa_Boi92
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Join Date:
					</div>
					<div id="user-join-date">
						25/12/2016
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Location
					</div>
					<div id="user-location">
						Somewhere between Indonesia and Singapore
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Advocating
					</div>
					<div id="user-advocate">
						Human Rights, Racial Equality
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Membership Type
					</div>
					<div id="user-type">
						Private Individual
					</div>
				</div>

				<div class="normal-field">
					<div class="field-caption">
						Number of Projects Backed:
					</div>
					<div id="user-projects-backed">
						1291
					</div>
				</div>

				
			</div>
			<div class="clear-fix"></div>
		</div>
		<div class="user-information">
            <div class="user_biography">
                <div class="user_biography_title">Biography</div>
                <div class="user_biography_text">
                This is my biography, this is my story, this is my life as a rich santa claus. Helping the world since 1992. Born and raised in the north pole, I've travelled much to Indonesia and Singapore, helping kids get their presents ever since. Being able to give to every child, naughty or nice, presents is my dream and passion.
                </div>
            </div>
            <div class="recently-backed">
                <div class="recently_backed_title">Recently Backed Projects</div>
                <div class="recently_backed_project">
                <!-- Show only 3 Recently Backed Projects  -->
                   
				</div>
                
            </div>
            
            
            
            
        </div>
                
    
                
               
	</div>


	<!-- This is header part -->
	<div id="head-wrapper" onclick="window.location='/'">
		<div id="head-logo" class="float-left">
			<img src="{{ url_for('static', filename='img/logo-white.png') }}">
		</div>
		<div id="head-menu-icon" class="float-right head-menu-href">
			<a href="#">Menu</a>
		</div>
		<div id="head-login-link" class="float-right head-menu-href">
			<a href="/login">Login</a>
		</div>
		<div id="head-register-link" class="float-right head-menu-href">
			<a href="/register">Register</a>
		</div>
		<div class="clear-fix"></div>
	</div>
</body>
    
</html>